<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/styles/bootstrap/bootstrap.css}" rel="stylesheet" />

    <title>OpenID Mock Server | Logout</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <small class="text-muted">OpenID Connect Mock Server</small>
            </h3>
            Sie sind abgemeldet
            <p>
            <a href="javascript:history.back()">Erneut Anmelden</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
